.footer{
	height: 2.25rem;
	&__container{
		height: 100%;
		span{
			font-size: 0.75rem;
			font-weight: 500;
		}
	}
	&__copyright{ /*отцентрировать copyright по середине и центру*/
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}